<%- include('partials/header'); -%>

<header>
  
  <div class="headings">
    <img src="/images/covid-icon.png" width="70px" height="130px">
    <h2>Covid Statistics</h2> 
    <a href="/Single-Country" class="btn">Search By Single Country</a>
    <a href="/Multiple-Country" class="btn">Search By Multiple Countries</a>
  </div>

  
</header>


<%- include('partials/footer'); -%>